#!/bin/bash

CONNECTION_NAME="example-connection"
CONTROL_INTERFACE=""
ENABLED="false"

REMOTE_HOST=""
REMOTE_PORT=""
REMOTE_USER=""
REMOTE_SETUP="true"
REMOTE_KILL="false"
LOCAL_OPEN="true"

LOCAL_HOST=""
LOCAL_PORT=""
LOCAL_USER=""

FORWARD_PORTS=""
FORWARD_PUBLIC="true"

EXTRA_COMMANDS=""
